$color-primary-blue : #0098e1 !default;
$color-primary-blue-hover : #70bdf7 !default;
$color-primary-blue-active : #1a89df !default;

$color-success: #16C294 !default;               // 成功颜色
$color-error: #E95471 !default;                 // 错误颜色

$color-warning: #f4a164 !default;               // 警告颜色
$color-warning-hover: #ff9f22 !default;
$color-warning-active: #f19720 !default;

$color-disable : #ddd !default ;                // 不能操作

$color-icon: #ccc !default ;                    // 箭头颜色

$font-primary-color : #333;                     // 字体颜色
$font-primary-size :  12px;